body{background-color: #BCC2E8;
    font-family: 'Times New Roman', serif;}
h1{width:500px;
   text-align: center;
   margin:0 auto;
   background-color: #8EB897;
   color: #FF6E2B;
   padding:1em
   }
h2{color:#2B99FF;
   width:500px;
      margin: 1em auto;
   text-align: center;}
h1, h2{font-family: "Aboreto", serif;
    font-weight: 400;
    font-style: normal;}
 img{display: block;
    margin: 0 auto;} 
p,ol,li,a{
    width:500px;
    margin: 0 auto;
    color: #FF6E2B;}
a{text-decoration: none;}
a:hover{color: brown;}
p.credits{font-size: small;} 
p.start{font-style: italic;}